<footer>
  <div class="footer__container--left">
    <img src="./assets/images/logo.svg" alt="Shortly Logo" class="logo-white" />
  </div>
  <div class="footer__container--right">
    <div class="contact-links">
      <div>
        <h4>Features</h4>
        <a href="">Link Shortening</a>
        <a href="">Branded Links</a>
        <a href="">Analytics</a>
      </div>
      <div>
        <h4>Resources</h4>
        <a href="">Blog</a>
        <a href="">Developers</a>
        <a href="">Support</a>
      </div>
      <div>
        <h4>Company</h4>
        <a href="">About</a>
        <a href="">Our Team</a>
        <a href="">Careers</a>
        <a href="">Contact</a>
      </div>
    </div>
    <div class="social-links">
      <img src="./assets/images/icon-facebook.svg" alt="Facebook" />
      <img src="./assets/images/icon-twitter.svg" alt="Twitter" />
      <img src="./assets/images/icon-pinterest.svg" alt="Pinterest" />
      <img src="./assets/images/icon-instagram.svg" alt="Instagram" />
    </div>
  </div>
</footer>
