@use "./src/color";
@use "./src/layout";

.getting-start {
  position: relative;
  display: flex;
  height: 30vw;
  align-items: center;
  @include layout.page-midlle-alignment();

  &__text {
    width: 30rem;
    h1 {
      font-size: 4em;
      color: color.$very-dark-blue;
      margin: 0;
      line-height: 1.2em;
    }
    p {
      margin-top: 0;
      margin-bottom: 2em;
      color: color.$gray;
    }
    .btn--cyan {
      color: white;
      background-color: color.$cyan;
      padding: 0.5em 1.3em;
      border-radius: 15% / 50%;
      font-weight: 400;
      transition: 0.3s ease-out;
      &:hover {
        opacity: 0.6;
      }
    }
  }
  img {
    position: absolute;
    right: -20%;
    top: 10%;
    width: 60%;
    z-index: -1;
  }
}

@media (max-width: 1100px) {
  .getting-start {
    flex-direction: column;
    padding-bottom: 25em;

    &__text {
      width: 17rem;
      text-align: center;
      h1 {
        font-size: 2em;
        line-height: 1.2em;
      }
      p {
        margin-top: 0;
        margin-bottom: 2em;
        color: color.$gray;
      }
      .btn--cyan {
        color: white;
        background-color: color.$cyan;
        padding: 0.5em 1.3em;
        border-radius: 15% / 50%;
        font-weight: 400;
        transition: 0.3s ease-out;
        &:hover {
          opacity: 0.6;
        }
      }
    }
    img {
      position: relative;
      padding: 10% 0;
      width: 30em;
      left: 12%;
    }
  }
}
