<nav>
  <div class="nav__left">
    <img class="logo" src="./assets/images/logo.svg" alt="Shortly Logo" />
    <div #navMenu class="nav__menu">
      <a href="" class="btn--normal">Features</a>
      <a href="" class="btn--normal">Pricing</a>
      <a href="" class="btn--normal">Resourses</a>
    </div>
  </div>
  <div #navRight class="nav__right">
    <a href="" class="btn--normal">Login</a>
    <a href="" class="btn--cyan">Sign Up</a>
  </div>
  <img class="hamburger" #hamburger (click)="expandHam()" src="./assets/images/icon-hamburger.svg" alt="hamburger icon">
</nav>
