<section class="advance-statistic">
  <app-link-shortener></app-link-shortener>
  <div class="advance-statistic__header">
    <h2>Advance Statistics</h2>
    <p>
      Track how your links are performing across the web with our advanced
      statistics dashboard.
    </p>
  </div>
  <div class="advance-statistic__cards">
    <div class="advance-statistic__cards--card">
      <span>
        <img
          src="./assets/images/icon-brand-recognition.svg"
          alt="brand recognition icon"
        />
      </span>
      <h3>Brand Recognition</h3>
      <p>
        Boost your brand recognition with each click. Generic links don't mean a
        thing. Branded links help instil confidence in your content.
      </p>
    </div>
    <div class="advance-statistic__cards--card">
      <span>
        <img
          src="./assets/images/icon-detailed-records.svg"
          alt="detailed records icon"
        />
      </span>
      <h3>Detailed Records</h3>
      <p>
        Gain insights into who is clicking your links. Knowing when and where
        people engage with your content helps inform better decisions.
      </p>
    </div>
    <div class="advance-statistic__cards--card">
      <span>
        <img
          src="./assets/images/icon-fully-customizable.svg"
          alt="fully customizable icon"
        />
      </span>
      <h3>Fully Customizable</h3>
      <p>
        Improve brand awareness and content discoverability through customizable
        links, supercharging audience engagement.
      </p>
    </div>
  </div>
</section>
